In [173]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [174]:
data = pd.read_csv("data/data_joined.csv")

In [175]:
data.head(1)

,customer_no,Bad_label,acct_type,actualpaymentamount,amt_past_due,cashlimit,closed_dt,creditlimit,cur_balance_amt,dt_opened,...,opened_dt,owner_indic,paymentfrequency,paymenthistory1,paymenthistory2,paymt_end_dt,paymt_str_dt,rateofinterest,reporting_dt,upload_dt
0,1,"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","['10', '10', '10', '10', '10', '10', '2', '2',...","['', '25100', '', '', '', '45986', '', '', '',...","['2528846', '', '', '', '', '', '', '', '', ''...","['', '', '', '', '', '168000', '', '', '', '',...","['', '', '05-Mar-09', '08-Jan-07', '03-May-10'...","['', '250000', '', '', '', '420000', '', '', '...","['2528846', '58882', '0', '0', '0', '37598', '...","['18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Ap...",...,"['26-May-00', '28-Feb-14', '02-May-06', '12-De...","['1', '1', '1', '1', '1', '1', '1', '4', '1', ...","['', '3', '', '', '', '3', '3', '', '', '', '3...","['""""""181181181181181181XXX18118118118118118118...","['""""""181181181XXXXXX181181XXXXXXXXXXXX18118118...","['01-Mar-12', '01-Feb-14', '01-Jul-07', '01-De...","['01-Feb-15', '01-Feb-15', '01-Mar-09', '01-Ja...","['', '', '', '', '', '', '8', '', '', '', '8.7...","['27-Feb-15', '28-Feb-15', '28-Feb-13', '31-Ju...","['21-Apr-15', '21-Apr-15', '21-Apr-15', '21-Ap..."

In [176]:
def get_int_values(x):
    values = []
    for i in x:
        try:
            y = int(i)
            values.append(y)
        except:
            pass
    return values

def get_correct_label(x):    
    return max(get_int_values(x))

def get_unique(x):
    return list(set(x))

def get_unique_int(x):
    return np.unique(get_int_values(x))

In [177]:
data.isnull().sum().sum()

0

In [178]:
data_copy = data.copy()

In [179]:
data['Bad_label'] = data_copy['Bad_label'].apply(get_correct_label)

In [180]:
data['acct_type'] = data_copy['acct_type'].apply(get_unique_int)
max_count = data['acct_type'].map(lambda x: len(x)).max()
acct_type_columns = [f"acct_type_{i}" for i in range(max_count)]

def get_count_values(values, count):
    
    a = np.repeat(-1, count)
    a[0:len(values)] = values
    return a

In [181]:
data[acct_type_columns] = data.apply(lambda x: get_count_values(x['acct_type'], max_count), axis=1, result_type='expand')
data.drop('acct_type', axis=1, inplace=True)

In [190]:
for column in data.columns:
    if 'feature' not in column:
        print(column)
        print(data[column].head(1)[0])

customer_no
1
Bad_label
0
actualpaymentamount
['', '25100', '', '', '', '45986', '', '', '', '', '', '', '', '', '', '', '', '', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
amt_past_due
['2528846', '', '', '', '', '', '', '', '', '', '', '', '', '9363', '', '', '', '', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
cashlimit
['', '', '', '', '', '168000', '', '', '', '', '', '', '', '', '', '', '', '', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
closed_dt
['', '', '05-Mar-09', '08-Jan-07', '03-May-10', '', '', '', '02-Jan-07', '21-Sep-12', '', '29-Dec-11', '24-Jun-04', '18-Mar-03', '23-Jan-03', '07-Jun-01', '30-Apr-98', '20-Jun-96', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
creditlimit
['', '250000', '', '', '', '420000', '', '', '', '', '', '', '', '', '', '', '', '', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
cur_balance_amt
['2528846', '58882', '0', '0', '0', '37598', '325490', '1754678', '0', '0', '0', '0', '0', '9363', '0', '0', '0', '0', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
dt_opened
['18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15']
enq_amt
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '3500000', '500000', '50000', '50000', '1000', '1000', '1000', '1000', '1000', '150', '50000', '100000', '300000', '50000', '50000', '1000', '25000', '300000']
enq_purpose
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '2', '5', '0', '10', '10', '10', '10', '10', '10', '10', '10', '10', '10', '0', '10', '10', '10', '10']
enquiry_dt
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '19-Dec-14', '05-Mar-14', '05-Mar-14', '22-Feb-14', '11-Jun-13', '08-Feb-13', '30-Nov-12', '30-May-12', '24-May-11', '10-Nov-10', '15-Apr-10', '29-Apr-09', '28-Feb-09', '17-Dec-08', '08-Dec-08', '06-Dec-08', '25-Jul-08', '27-May-08']
entry_time
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '13-Apr-15', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
high_credit_amt
['2528846', '125459', '139765', '', '171256', '290596', '2000000', '2000000', '93000', '14700', '', '200000', '211135', '', '75000', '27500', '11320', '11486', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
last_paymt_dt
['28-Feb-03', '03-Feb-15', '', '', '13-Apr-10', '07-Mar-15', '27-Sep-14', '02-Jun-06', '07-Dec-06', '15-May-02', '', '15-Sep-11', '20-Nov-03', '', '', '', '', '', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
opened_dt
['26-May-00', '28-Feb-14', '02-May-06', '12-Dec-05', '09-May-05', '09-May-05', '07-Feb-05', '07-Feb-05', '08-Dec-03', '13-Jun-01', '', '05-Dec-06', '06-Jan-01', '07-Nov-00', '31-Oct-99', '27-May-99', '27-Jul-96', '20-Jun-96', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
owner_indic
['1', '1', '1', '1', '1', '1', '1', '4', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
paymentfrequency
['', '3', '', '', '', '3', '3', '', '', '', '3', '3', '', '', '', '3', '3', '', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
paymenthistory1
['"""181181181181181181XXX181181181181181181181181181XXX181"""', '"""000000000000000000000000000000000000000"""', '"""000000000000000000000000000000000000000XXX000000000000"""', '"""STDSTDSTDXXXSTDSTDSTDSTDXXXXXXSTDSTDSTDSTD"""', '"""000000000000000000000000000000000000000000000000000000"""', '"""000000000000000000000000000000000000000000000000000000"""', '"""STDSTDSTDSTDSTDSTDSTDSTDSTDSTDSTDSTDSTDSTDSTDSTDSTDSTD"""', '"""000XXXXXX000XXXXXX000XXXXXX000"""', '"""000"""', '"""000000000000000000000000000000000000000000000000000000"""', '"""STD"""', '"""XXXXXXXXX000XXXXXX000XXXXXX000XXXXXX000XXXXXX000"""', '"""XXX"""', '"""XXX"""', '"""XXX"""', '"""XXX"""', '"""XXX"""', '"""XXX"""', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
paymenthistory2
['"""181181181XXXXXX181181XXXXXXXXXXXX181181181XXXXXXXXXXXX"""', '', '"""000000000"""', '', '"""000000000XXX000XXX000"""', '"""000000000000000000000000000000000000000000000000"""', '"""STDSTDSTDSTDSTDSTDXXXSTDSTDSTDSTDSTDSTDSTDXXXXXXXXX000"""', '', '', '"""000000000000XXX000XXX000XXX000XXX000000000XXX000000XXX"""', '', '', '', '', '', '', '', '', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
paymt_end_dt
['01-Mar-12', '01-Feb-14', '01-Jul-07', '01-Dec-05', '01-May-08', '01-Jun-12', '01-Mar-12', '01-Sep-05', '01-Jan-07', '01-Oct-09', '01-Jul-12', '01-Sep-10', '01-Jun-04', '01-Mar-03', '01-Jan-03', '01-Jun-01', '01-Apr-98', '01-Jun-96', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
paymt_str_dt
['01-Feb-15', '01-Feb-15', '01-Mar-09', '01-Jan-07', '01-May-10', '01-Mar-15', '01-Feb-15', '01-Jun-06', '01-Jan-07', '01-Sep-12', '01-Jul-12', '01-Dec-11', '01-Jun-04', '01-Mar-03', '01-Jan-03', '01-Jun-01', '01-Apr-98', '01-Jun-96', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
rateofinterest
['', '', '', '', '', '', '8', '', '', '', '8.75', '9.75', '', '', '', '27.469', '34.585', '', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
reporting_dt
['27-Feb-15', '28-Feb-15', '28-Feb-13', '31-Jul-07', '31-May-12', '13-Mar-15', '28-Feb-15', '30-Jun-06', '31-Dec-09', '30-Sep-12', '31-Jul-12', '31-Jul-12', '01-Oct-10', '19-Apr-10', '30-Sep-10', '31-Dec-12', '31-Dec-12', '30-Sep-10', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
upload_dt
['21-Apr-15', '21-Apr-15', '21-Apr-15', '21-Apr-15', '21-Apr-15', '21-Apr-15', '21-Apr-15', '21-Apr-15', '21-Apr-15', '21-Apr-15', '21-Apr-15', '21-Apr-15', '21-Apr-15', '21-Apr-15', '21-Apr-15', '21-Apr-15', '21-Apr-15', '21-Apr-15', nan, '21-Apr-15', '21-Apr-15', '21-Apr-15', '21-Apr-15', '21-Apr-15', '21-Apr-15', '21-Apr-15', '21-Apr-15', '21-Apr-15', '21-Apr-15', '21-Apr-15', '21-Apr-15', '21-Apr-15', '21-Apr-15', '21-Apr-15', '21-Apr-15', '21-Apr-15', '21-Apr-15']
acct_type_0
0
acct_type_1
1
acct_type_2
2
acct_type_3
5
acct_type_4
6
acct_type_5
-1
acct_type_6
-1
acct_type_7
-1

In [182]:
data.head(1)

,customer_no,Bad_label,actualpaymentamount,amt_past_due,cashlimit,closed_dt,creditlimit,cur_balance_amt,dt_opened,enq_amt,...,reporting_dt,upload_dt,acct_type_0,acct_type_1,acct_type_2,acct_type_3,acct_type_4,acct_type_5,acct_type_6,acct_type_7
0,1,0,"['', '25100', '', '', '', '45986', '', '', '',...","['2528846', '', '', '', '', '', '', '', '', ''...","['', '', '', '', '', '168000', '', '', '', '',...","['', '', '05-Mar-09', '08-Jan-07', '03-May-10'...","['', '250000', '', '', '', '420000', '', '', '...","['2528846', '58882', '0', '0', '0', '37598', '...","['18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Ap...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...",...,"['27-Feb-15', '28-Feb-15', '28-Feb-13', '31-Ju...","['21-Apr-15', '21-Apr-15', '21-Apr-15', '21-Ap...",0,1,2,5,6,-1,-1,-1

In [183]:
data.columns

Index(['customer_no', 'Bad_label', 'actualpaymentamount', 'amt_past_due',
       'cashlimit', 'closed_dt', 'creditlimit', 'cur_balance_amt', 'dt_opened',
       'enq_amt',
       ...
       'reporting_dt', 'upload_dt', 'acct_type_0', 'acct_type_1',
       'acct_type_2', 'acct_type_3', 'acct_type_4', 'acct_type_5',
       'acct_type_6', 'acct_type_7'],
      dtype='object', length=112)