In [2]:
import tabula

In [27]:
a = tabula.read_pdf("CIBILGuide.pdf", pages=[67, 68])
b = tabula.read_pdf("CIBILGuide.pdf", pages=[73, 74])

In [30]:
a.columns

Index(['Value', 'Acronym', 'Use', 'Account Type'], dtype='object')

In [32]:
b.head()

                     Account Type  Loan Type
0            Auto Loan (Personal)    Secured
1                    Housing Loan    Secured
2                   Property Loan    Secured
3  Loan Against Shares/Securities    Secured
4                   Personal Loan  Unsecured

In [33]:
a.head()

  Value Acronym      Use                    Account Type
0    01       -  Current            Auto Loan (Personal)
1    02       -  Current                    Housing Loan
2    03       -  Current                   Property Loan
3    04       -  Current  Loan Against Shares/Securities
4    05       -  Current                   Personal Loan

In [41]:
import pandas as pd

df = pd.merge(a, b, on=['Account Type'])

In [86]:
df = df[df["Value"] != "Value"]

df["Value"] = df["Value"].astype(int)

In [89]:
df.set_index('Value').to_csv("data/loan_types.csv")