# Read data from sql

In [1]:
%matplotlib inline
from sqlalchemy import create_engine
import json
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:

db_credentials = json.loads(open('database_credentials.json').read())

In [3]:
cred_string = ('mysql+pymysql://' +
               db_credentials['username'] +
               ':' +
               db_credentials['user_pass'] +
               '@' +
               db_credentials['db_host'] +
               '/' +
               db_credentials['db_name']
              )

conn = create_engine(cred_string)
conn.table_names()
table_account, table_demographics, table_enquiries = conn.table_names()

In [28]:
table_contents = []
for table in conn.table_names():
    query = f"select * from {table}"
    table_content = pd.read_sql(query,conn)
    table_contents.append(table_content)

In [5]:
for table_content in table_contents:
    print(type(table_content))
    print(table_content.shape)

<class 'pandas.core.frame.DataFrame'>
(186329, 21)
<class 'pandas.core.frame.DataFrame'>
(23896, 83)
<class 'pandas.core.frame.DataFrame'>
(413188, 6)

In [6]:
for table_content in table_contents:
    
    print(table_content.head(5))

   dt_opened customer_no  upload_dt acct_type owner_indic  opened_dt  \
0  10-Nov-15       12265  20-Oct-15         6           1  09-Jun-13
1  10-Nov-15       12265  20-Oct-15        10           1  25-May-12
2  10-Nov-15       12265  20-Oct-15        10           1  22-Mar-12
3  20-Jul-15       15606  09-Jul-15        10           1  13-Jan-06
4  20-Jul-15       15606  09-Jul-15         6           1  18-Jan-15

  last_paymt_dt  closed_dt reporting_dt high_credit_amt  ... amt_past_due  \
0     30-Jun-14  05-Jul-14    30-Sep-15           20900  ...
1     06-Sep-15               03-Oct-15           16201  ...
2     31-Aug-15               30-Sep-15           41028  ...
3                26-Jul-07    31-Jan-09           93473  ...
4     05-May-15               31-May-15           20250  ...

                                     paymenthistory1  \
0  """STDSTDSTDXXXXXXXXXXXXXXXSTDXXXXXXXXXXXXXXXS...
1  """0000000000000000000000000000000000000000000...
2  """0000000000000000000000000000000000000000000...
3  """1200900600600600300000000000000000000000000...
4                              """000000000000000"""

                                     paymenthistory2 paymt_str_dt  \
0                                                       01-Sep-15
1  """000000000000000000000000000XXX0000000000000...    01-Oct-15
2  """0000000000000000000000000000000000000000000...    01-Sep-15
3                                                       01-Jul-07
4                                                       01-May-15

  paymt_end_dt creditlimit cashlimit rateofinterest paymentfrequency  \
0    01-Jul-14
1    01-Nov-12       14000      1400                               3
2    01-Oct-12
3    01-Feb-06
4    01-Jan-15

  actualpaymentamount
0
1                5603
2
3
4

[5 rows x 21 columns]
   dt_opened customer_no entry_time feature_1  feature_2 feature_3 feature_4  \
0  18-Apr-15           1  13-Apr-15  Insignia  13-Apr-15       650         2
1  21-Apr-15           2  21-Apr-15  Insignia  21-Apr-15       760         1
2  22-Apr-15           3  21-Apr-15  Insignia  21-Apr-15       774         1
3  25-Apr-15           4  15-Apr-15  Insignia  20-Apr-15       770         1
4  06-May-15           5  30-Apr-15  Insignia                              3

    feature_5 feature_6 feature_7  ... feature_71 feature_72 feature_73  \
0  Card Setup        14    500000  ...         21          R
1  Card Setup        14   1200000  ...         17          R
2  Card Setup        14    700000  ...         17          R
3  Card Setup        14    500000  ...         21          R
4  Card Setup        14    500000  ...         13          R

  feature_74  feature_75 feature_76  feature_77 feature_78 feature_79  \
0             0000-00-00          0  98332XXXXX          1          N
1             0000-00-00          0  99455XXXXX          1          N
2             0000-00-00          0  98456XXXXX          1          N
3                6/15/65          1  98220XXXXX          1          N
4             0000-00-00          0  98111XXXXX          1          N

  Bad_label
0         0
1         0
2         0
3         0
4         0

[5 rows x 83 columns]
   dt_opened customer_no  upload_dt enquiry_dt enq_purpose  enq_amt
0  18-Apr-15           1  21-Apr-15  19-Dec-14           2  3500000
1  18-Apr-15           1  21-Apr-15  05-Mar-14           5   500000
2  18-Apr-15           1  21-Apr-15  05-Mar-14           0    50000
3  18-Apr-15           1  21-Apr-15  22-Feb-14          10    50000
4  18-Apr-15           1  21-Apr-15  11-Jun-13          10     1000

In [7]:
for table_name, table_content in zip(conn.table_names(), table_contents):
    print(table_name)
    print(table_content.columns)

Cust_Account
Index(['dt_opened', 'customer_no', 'upload_dt', 'acct_type', 'owner_indic',
       'opened_dt', 'last_paymt_dt', 'closed_dt', 'reporting_dt',
       'high_credit_amt', 'cur_balance_amt', 'amt_past_due', 'paymenthistory1',
       'paymenthistory2', 'paymt_str_dt', 'paymt_end_dt', 'creditlimit',
       'cashlimit', 'rateofinterest', 'paymentfrequency',
       'actualpaymentamount'],
      dtype='object')
Cust_Demographics
Index(['dt_opened', 'customer_no', 'entry_time', 'feature_1', 'feature_2',
       'feature_3', 'feature_4', 'feature_5', 'feature_6', 'feature_7',
       'feature_8', 'feature_9', 'feature_10', 'feature_11', 'feature_12',
       'feature_13', 'feature_14', 'feature_15', 'feature_16', 'feature_17',
       'feature_18', 'feature_19', 'feature_20', 'feature_21', 'feature_22',
       'feature_23', 'feature_24', 'feature_25', 'feature_26', 'feature_27',
       'feature_28', 'feature_29', 'feature_30', 'feature_31', 'feature_32',
       'feature_33', 'feature_34', 'feature_35', 'feature_36', 'feature_37',
       'feature_38', 'feature_39', 'feature_40', 'feature_41', 'feature_42',
       'feature_43', 'feature_44', 'feature_45', 'feature_46', 'feature_47',
       'feature_48', 'feature_49', 'feature_50', 'feature_51', 'feature_52',
       'feature_53', 'feature_54', 'feature_55', 'feature_56', 'feature_57',
       'feature_58', 'feature_59', 'feature_60', 'feature_61', 'feature_62',
       'feature_63', 'feature_64', 'feature_65', 'feature_66', 'feature_67',
       'feature_68', 'feature_69', 'feature_70', 'feature_71', 'feature_72',
       'feature_73', 'feature_74', 'feature_75', 'feature_76', 'feature_77',
       'feature_78', 'feature_79', 'Bad_label'],
      dtype='object')
Cust_Enquiry
Index(['dt_opened', 'customer_no', 'upload_dt', 'enquiry_dt', 'enq_purpose',
       'enq_amt'],
      dtype='object')

In [8]:
table_contents[0].dtypes[['customer_no', 'dt_opened']]

customer_no    object
dt_opened      object
dtype: object

In [9]:
table_contents[1].dtypes[['customer_no', 'dt_opened']]

customer_no    object
dt_opened      object
dtype: object

In [10]:
set(table_contents[0].columns).intersection(table_contents[1].columns)

{'customer_no', 'dt_opened'}

In [11]:
data_joined = pd.concat([table_contents[0], table_contents[1], table_contents[2]], join='outer')

In [12]:
data_joined.shape

(623413, 105)

In [13]:
data_joined['Bad_label'].sort_values().unique()

array(['0', '1', nan], dtype=object)

In [14]:
data_joined['Bad_label'].isnull().sum()

599517

In [15]:
a = pd.DataFrame({
 'id': [0, 1, 2, 0 , 1],
    'a': ['a0', 'a1', 'a2', 'a0', 'a1']
})

b = pd.DataFrame({
    'id': [0, 1, 0 , 1],
    'b': ['b0', 'b1', 'b0', 'b1'],
    'label': [0, 1, 0, 1]
})

c = pd.DataFrame({
    'id': [0, 1],
    'c': ['c0', 'c1']
})

d = pd.concat([a, b,c ], join='outer')
for i in d.groupby('id'):
    print(i)

(0,      a    b    c  id  label
0   a0  NaN  NaN   0    NaN
3   a0  NaN  NaN   0    NaN
0  NaN   b0  NaN   0    0.0
2  NaN   b0  NaN   0    0.0
0  NaN  NaN   c0   0    NaN)
(1,      a    b    c  id  label
1   a1  NaN  NaN   1    NaN
4   a1  NaN  NaN   1    NaN
1  NaN   b1  NaN   1    1.0
3  NaN   b1  NaN   1    1.0
1  NaN  NaN   c1   1    NaN)
(2,     a    b    c  id  label
2  a2  NaN  NaN   2    NaN)

In [16]:
e = d.groupby('id').agg(list)
e

,a,b,c,label
id,,,,
0,"[a0, a0, nan, nan, nan]","[nan, nan, b0, b0, nan]","[nan, nan, nan, nan, c0]","[nan, nan, 0.0, 0.0, nan]"
1,"[a1, a1, nan, nan, nan]","[nan, nan, b1, b1, nan]","[nan, nan, nan, nan, c1]","[nan, nan, 1.0, 1.0, nan]"
2,[a2],[nan],[nan],[nan]

In [17]:
e

,a,b,c,label
id,,,,
0,"[a0, a0, nan, nan, nan]","[nan, nan, b0, b0, nan]","[nan, nan, nan, nan, c0]","[nan, nan, 0.0, 0.0, nan]"
1,"[a1, a1, nan, nan, nan]","[nan, nan, b1, b1, nan]","[nan, nan, nan, nan, c1]","[nan, nan, 1.0, 1.0, nan]"
2,[a2],[nan],[nan],[nan]

In [18]:
data = data_joined.groupby('customer_no').agg(list)

In [19]:
data.shape

(23896, 104)

In [20]:
x = pd.Series(data.iloc[6]['Bad_label'])
pd.to_numeric(x[x.notnull()]).max()

1

In [21]:
for column in data.columns:
    print(column)
    print(data[column].head(1).iloc[0])

Bad_label
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '0', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
acct_type
['10', '10', '10', '10', '10', '10', '2', '2', '5', '6', '2', '2', '10', '10', '5', '5', '6', '6', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
actualpaymentamount
['', '25100', '', '', '', '45986', '', '', '', '', '', '', '', '', '', '', '', '', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
amt_past_due
['2528846', '', '', '', '', '', '', '', '', '', '', '', '', '9363', '', '', '', '', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
cashlimit
['', '', '', '', '', '168000', '', '', '', '', '', '', '', '', '', '', '', '', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
closed_dt
['', '', '05-Mar-09', '08-Jan-07', '03-May-10', '', '', '', '02-Jan-07', '21-Sep-12', '', '29-Dec-11', '24-Jun-04', '18-Mar-03', '23-Jan-03', '07-Jun-01', '30-Apr-98', '20-Jun-96', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
creditlimit
['', '250000', '', '', '', '420000', '', '', '', '', '', '', '', '', '', '', '', '', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
cur_balance_amt
['2528846', '58882', '0', '0', '0', '37598', '325490', '1754678', '0', '0', '0', '0', '0', '9363', '0', '0', '0', '0', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
dt_opened
['18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15', '18-Apr-15']
enq_amt
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '3500000', '500000', '50000', '50000', '1000', '1000', '1000', '1000', '1000', '150', '50000', '100000', '300000', '50000', '50000', '1000', '25000', '300000']
enq_purpose
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '2', '5', '0', '10', '10', '10', '10', '10', '10', '10', '10', '10', '10', '0', '10', '10', '10', '10']
enquiry_dt
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '19-Dec-14', '05-Mar-14', '05-Mar-14', '22-Feb-14', '11-Jun-13', '08-Feb-13', '30-Nov-12', '30-May-12', '24-May-11', '10-Nov-10', '15-Apr-10', '29-Apr-09', '28-Feb-09', '17-Dec-08', '08-Dec-08', '06-Dec-08', '25-Jul-08', '27-May-08']
entry_time
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '13-Apr-15', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_1
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Insignia', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_10
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_11
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Y', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_12
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'IS1', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_13
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_14
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '0', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_15
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '159', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_16
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '4284', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_17
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '4284', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_18
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_19
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '1', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_2
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '13-Apr-15', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_20
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'ADFPNXXXXX', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_21
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '03-Sep-65', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_22
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '98332XXXXX', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_23
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'N', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_24
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '@REDIFFMAIL.COM', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_25
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '1', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_26
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '2', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_27
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_28
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Mumbai / Navi Mumbai / Thane', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_29
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '400610', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_3
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '650', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_30
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '1965', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_31
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '0', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_32
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Self', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_33
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Y', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_34
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '2', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_35
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '90000', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_36
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_37
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_38
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_39
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '0', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_4
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '2', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_40
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '0', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_41
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '0', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_42
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '0', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_43
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Mumbai', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_44
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '400059', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_45
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '@CODOGNOTTO.NET', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_46
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'PAN Card', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_47
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'ADFPNXXXXX', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_48
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'The Ratnakar Bank Ltd.', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_49
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_5
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Card Setup', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_50
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Y', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_51
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'State Bank of India', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_52
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '0', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_53
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '01-Jun-13', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_54
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '17-Jun-16', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_55
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '1', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_56
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '21', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_57
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_58
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Y', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_59
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Y', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_6
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '14', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_60
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'N', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_61
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_62
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Y', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_63
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '1965-0', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_64
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '21', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_65
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '15', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_66
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '400610', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_67
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '0', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_68
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '2', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_69
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '90000', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_7
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '500000', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_70
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Nov-00', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_71
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '21', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_72
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'R', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_73
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_74
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_75
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '0000-00-00', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_76
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '0', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_77
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '98332XXXXX', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_78
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '1', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_79
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'N', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_8
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
feature_9
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
high_credit_amt
['2528846', '125459', '139765', '', '171256', '290596', '2000000', '2000000', '93000', '14700', '', '200000', '211135', '', '75000', '27500', '11320', '11486', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
last_paymt_dt
['28-Feb-03', '03-Feb-15', '', '', '13-Apr-10', '07-Mar-15', '27-Sep-14', '02-Jun-06', '07-Dec-06', '15-May-02', '', '15-Sep-11', '20-Nov-03', '', '', '', '', '', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
opened_dt
['26-May-00', '28-Feb-14', '02-May-06', '12-Dec-05', '09-May-05', '09-May-05', '07-Feb-05', '07-Feb-05', '08-Dec-03', '13-Jun-01', '', '05-Dec-06', '06-Jan-01', '07-Nov-00', '31-Oct-99', '27-May-99', '27-Jul-96', '20-Jun-96', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
owner_indic

In [22]:
table_contents[0]['customer_no'].unique().shape

(23896,)

In [23]:
table_contents[1]['customer_no'].unique().shape

(23896,)

In [24]:
table_contents[2]['customer_no'].unique().shape

(23896,)

In [25]:
data.to_csv("data/data_joined.csv")

In [29]:
for table_name, table_content in zip(conn.table_names(), table_contents):
    print(table_name)
    table_content.to_csv(f"data/{table_name}.csv")

Cust_Account
Cust_Demographics
Cust_Enquiry